@font-face {
    font-family: vazir;
    src: url(fonts/vazir/Vazir.eot) format('eot');
    src: url(fonts/vazir/Vazir.ttf) format('ttf');
    src: url(fonts/vazir/Vazir.woff) format('woff');
    src: url(fonts/vazir/Vazir.woff2) format('woff2');
    src: url(fonts/vazir/Vazir-Bold.eot) format('eot');
    src: url(fonts/vazir/Vazir-Bold.ttf) format('ttf');
    src: url(fonts/vazir/Vazir-Bold.woff) format('woff');
    src: url(fonts/vazir/Vazir-Bold.woff2) format('woff2');
}
body{
    font-family: vazir;
}